{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% if errormessage %} 
<div class="govuk-error-message">{{ errormessage }}</div> 
{% endif %}
<form class="form-group" method='post' action='/insert-employee'>
{{ govukInput({
    label: {
      text: "Name",
      classes: "govuk-label--l",
      isPageHeading: true
    },
    id: "EmployeeName",
    name: "EmployeeName",
    value: EmployeeName
   
  }) }}

  {{ govukInput({
    label: {
      text: "Starting Salary",
      classes: "govuk-label--l",
      isPageHeading: true
    },
    id: "StartingSalary",
    name: "StartingSalary",
    value: StartingSalary
  }) }}
  
  {{ govukInput({
    label: {
      text: "NI Number",
      classes: "govuk-label--l",
      isPageHeading: true
    },
    id: "NINumber",
    name: "NINumber",
    value: NINumber
  }) }}

  {{ govukInput({
    label: {
      text: "Emplyee Address",
      classes: "govuk-label--l",
      isPageHeading: true
    },
    id: "EmployeeAddress",
    name:"EmployeeAddress",
    value: EmployeeAddress
  }) }}
    {{ govukInput({
    label: {
      text: "IBAN",
      classes: "govuk-label--l",
      isPageHeading: true
    },
    id: "IBAN",
    name:"IBAN",
    value: IBAN
  }) }}
  {{ govukInput({
    label: {
      text: "BIC",
      classes: "govuk-label--l",
      isPageHeading: true
    },
    id: "BIC",
    name:"BIC",
    value: BIC
  }) }}
  
{{ govukButton({
  text: "Save and continue",
  type: 'submit'
}) }}
</form>