{% extends "layout_unbranded.html" %} 
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}
{% if errormessage %} 

<div class="govuk-error-message">{{ errormessage }}</div> 
{% endif %}
<h1 class="govuk-heading-xl"> Employee Details </h1>
<form class="form-group" method='post' action='/login-user'>
{{ govukInput({
    label: {
      text: "username",
      classes: "govuk-label--l",
      isPageHeading: true
    },
    id: "username",
    name: "username",
    value: username
   
  }) }}

  {{ govukInput({
    label: {
      text: "password",
      classes: "govuk-label--l",
      isPageHeading: true
    },
    id: "password",
    name: "password",
    value: password,
    type: 'password'
  }) }}
  


  
{{ govukButton({
  text: "Save and continue",
  type: 'submit'
}) }}
</form>
{% endblock %}